img {
    width: 100%;
    height: 100%;
    display: block;
}

*:lang(en) {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 18px;
}

*:lang(zh) {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.5px;
}

body {
    margin: 0;
    padding: 0;
}


[class^="number-slide"],
[class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 300px;
    max-height: 100vh;
}


/* .pswp__img {

}

.pswp--open {
    transition: none !important;
}

.pswp__button--share,
.pswp__button--fs {
    display: none !important;
}

.pswp__button {
    height: 54px !important;
    width: 54px !important;
}

.pswp__top-bar {
    height: 54px !important;
}

.pswp__counter {
    height: 54px;
    font-size: 16px;
    padding: 0 10px;
} */