.app {
    text-align: left;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: left;
    min-height: 20px;
    margin: 0;
    padding: 0;
}

.list-style ul li {
    list-style: none;
}